<style>

.graph {
	margin-top:10px;
	margin-bottom:10px;
	width:80%;
	/*width:840px;*/
	height:320px;
}

#tabs {
	margin-top:20px;
}

.beernode-table td {
	padding:3px;
}

/* the div that will hold a temperature control */
 .beernode-temperature-wrapper {

 }


/* the div that will hold a switch control */
 .beernode-switch-wrapper {
 	/*margin-bottom: 4px;*/
 }

/* override the default bootstrap button style */
.beernode-switch {
	font-size: 11px;
	padding: 4px 10px 4px 10px;
}

</style>


<script type="text/template" id="template-canvas">  

    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        
        <div class="navbar-header">
          <a class="navbar-brand" href="#">beerNode</a>
        </div>

        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">

            <li class="active"><a href="#">Dashboard</a></li>
            <!--
            <li><a href="./builder.html?profile_id=1">Builder</a></li>
            -->
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="https://github.com/chriscurran/beerNode" target=_github>gitHub</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>


	<div class="container-fluid">
	  <div class="row">
		
		<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-1 main">
		  <button class='btn btn-large btn-success beernode-pause' data-state="1" type='button'>Running</button>

		  <div class="row placeholders">
			
			<div class="col-xs-6 col-sm-3 placeholder">
				<center>
					<div id="HLT_Temperature" class="beernode-temperature-wrapper">gauge space</div>

					<table class="beernode-table"><tr>
						<td>
							<div id='HLT_Heater' class="beernode-switch-wrapper"></div>
						</td>
						<td>
							<div id='HLT_Agitator' class="beernode-switch-wrapper"></div>
						</td>					
					</tr>
					<tr>
						<td>
						</td>
						<td>
							<div id='HLT_Pump' class="beernode-switch-wrapper"></div>
						</td>
					</tr>
					</table>
				</center>
			</div>

			<div class="col-xs-6 col-sm-3 placeholder">
				<center>
					<div id="RIMS_Temperature" class="beernode-temperature-wrapper"></div>

					<table class="beernode-table"><tr>
						<td>
							<div id='RIMS_Heater' class="beernode-switch-wrapper"></div>
						</td>
						<td>
							<div id='RIMS_Pump' class="beernode-switch-wrapper"></div>
						</td>					
					</tr>
					</table>
				</center>
			</div>
			
			<div class="col-xs-6 col-sm-3 placeholder">
				<center>
					<div id="MASH_Temperature" class="beernode-temperature-wrapper"></div>
					<div id='MASH_Pump' class="beernode-switch-wrapper"></div>
				</center>
			</div>
			
			<div class="col-xs-6 col-sm-3 placeholder">
				<center>
					<div id="BOIL_Temperature" class="beernode-temperature-wrapper"></div>
					<div id='BOIL_Heater' class="beernode-switch-wrapper"></div>
				</center>
			
			</div>

		  </div>


			<ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
				<li class="active"><a href="#hlt_tab" data-toggle="tab">HLT</a></li>
				<li><a href="#mash_tab" data-toggle="tab">Mash</a></li>
				<li><a href="#rims_tab" data-toggle="tab">RIMS</a></li>
				<li><a href="#boil_tab" data-toggle="tab">BOIL</a></li>
				<li><a href="#console_tab" data-toggle="tab">Console</a></li>
			</ul>

			<div id="tab-content" class="tab-content">
				<div class="tab-pane active" id="hlt_tab">
					<div class='graph' id='HLT_Temperature-graph'></div>
				</div>
				<div class="tab-pane" id="mash_tab">
					<div class='graph' id='MASH_Temperature-graph'></div>
				</div>
				<div class="tab-pane" id="rims_tab">
					<div class='graph' id='RIMS_Temperature-graph'></div>
				</div>
				<div class="tab-pane" id="boil_tab">
					<div class='graph' id='BOIL_Temperature-graph'></div>
				</div>
				<div class="tab-pane" id="console_tab">
					<div class='graph' id='console'></div>
				</div>
			</div>

		</div>
	  </div>
	</div>
</script>  


<style>

#guide-options-modal label {
	width:100px;
	text-align: right;
}

</style>

<script type="text/template" id="template-gauge-options">  

<div id="guide-options-modal">

	<label for="gauge-target">Target</label>
	<input id="gauge-target" class="input-sz-xsmall" value="{{ config.target }}" />
	<br>	

	<label for="gauge-min">Minimum</label>
	<input id="gauge-min" class="input-sz-xsmall" value="{{ config. minValue }}" />
	<br>	

	<label for="gauge-max">Maximum</label>
	<input id="gauge-max" class="input-sz-xsmall" value="{{ config.maxValue }}" />


	<br>	
	<br>	
	<label for="gauge-method">Method</label>
	<SELECT id="gauge-method" class="" data-grp="selector.pid">
		<OPTION value='basic'>Basic</OPTION>
		<OPTION value='range' {{# if (config.method==='range') print('selected'); }}>Ranging</OPTION>
		<OPTION value='pid'   {{# if (config.method==='pid') print('selected'); }}>PID Controller</OPTION>
	</SELECT>


	<div id="gauge-range-options" {{# if (config.method!=='range') print("class='hidden'"); }} >
		<label for="gauge-range-lower">Lower</label>
		<input id="gauge-range-lower" class="input-sz-xsmall" value="{{ config.rangeLow }}" />

		<br>
		<label for="gauge-range-upper">Upper</label>
		<input id="gauge-range-upper" class="input-sz-xsmall" value="{{ config.rangeHigh }}" />

	</div>

	<div id="gauge-pid-options" {{# if (config.method!=='pid') print("class='hidden'"); }} >

		<label for="gauge-pid-kp">KP</label>
		<input id="gauge-pid-kp" class="input-sz-xsmall" value="{{ config.kp }}" />
		<br>
		<label for="gauge-pid-ki">KI</label>
		<input id="gauge-pid-ki" class="input-sz-xsmall" value="{{ config.ki }}" />
		<br>
		<label for="gauge-pid-kd">KD</label>
		<input id="gauge-pid-kd" class="input-sz-xsmall" value="{{ config.kd }}" />

	</div>

<div>
</script>  





<script type="text/template" id="template-temperature"> 

	<canvas id='{{ id }}-instance' width='{{ gsize }}' height='{{ gsize }}'></canvas>
	<div class='temperature-options'>
		<a class='gauge-options beernode-temperature' data-for='{{ id }}' href='#'>gauge options</a>
	</div>

</script>  


<script type="text/template" id="template-switch">  
	
	<button id='{{ id }}-instance' class='btn {{ cls }} btn-large beernode-switch' type='button'>{{ label }}</button>

</script>  